p{
    margin-bottom: 0px;
}

.text-small {
    font-size: 12px!important;
}

.text-gray {
    color: #586069!important;
}

.name-url{
    color: #000000d8;
    font-weight: 600;
}

.name-url:hover{
    color: #000000d8;
    font-weight: 600;
    text-decoration: none;
}

