p, h1, h2, h3, h4{
    margin-bottom: 0px;
    font-family: 'Raleway', sans-serif;
}

a{
    font-family: 'Raleway', sans-serif;
}

.text-small {
    font-size: 12px!important;
}

.text-gray {
    color: #586069!important;
}

.name-url{
    color: #000000d8;
    font-weight: 600;
}

.name-url:hover{
    color: #000000d8;
    font-weight: 600;
    text-decoration: none;
}

.span-badge{
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}
