<!doctype html>
<html lang="en" 
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GitFinder</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Raleway&family=Roboto&display=swap" rel="stylesheet">
    <link rel="icon" th:href="@{images/git-logo.png}">
</head>

<body>
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
            <img th:src="@{images/git-logo.png}" width="30" height="30" class="align-top" alt="" loading="lazy">
            GitFinder
        </a>
    </nav>
    <div class="container">
        <div class="row">
            <div th:insert="fragments/userForm"></div>
        </div>
        
        <div th:if="${totalUsers != 0 && totalUsers != null}" class="row">
            <p th:text="${totalUsers} + ' user(s) found'"></p>
        </div>

        <div class="row">
            <div th:insert="fragments/listUsers" th:if="${users != null}"></div>
            
        </div>
</body>

</html>