<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GitFinder</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Raleway&family=Roboto&display=swap" rel="stylesheet">
    <link rel="icon" th:href="@{images/git-logo.png}">
</head>

<body>
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
            <img th:src="@{images/git-logo.png}" width="30" height="30" class="align-top" alt="" loading="lazy">
            GitFinder
        </a>
    </nav>
    <div class="container">
        <div class="mt-5">
            <a href="javascript:history.back()"><b>
                    < Return</b></a>
        </div>
        <hr>
        <div class="mb-2" th:if="${totalUsers != 0 && totalUsers != null}">
            <p th:text="${totalUsers} + ' user(s) found'"></p>
        </div>
        <div class="mb-2" th:if="${totalRepositories != 0 && totalRepositories != null}">
            <p th:text="${totalRepositories} + ' repositories found'"></p>
        </div>
        <div class="row">
            <div th:insert="fragments/listUsers"></div>
            <div th:insert="fragments/listRepositories"></div>
        </div>
    </div>
</body>

</html>